* {
    /* border: 1px solid tomato; */
}

.testa {
    height: 60px;
    opacity: 0.9;
}

.ligas {
    width: 40%;
}


.main-img-container {
    /* height: 924px; */
    position: relative;
}

.img {
    width: 278px;
    height: 278px;
}

.super {
    position: absolute;
    z-index: 10;
    font-size: 30px;
    background-color: white;
    bottom: 0;
    opacity: 0.6;
    left: 10%;
    width: 45%;
    height: 90px;
    padding: 20px;
    line-height: 30px;
}

.str {
    background-color: lightgray;
}

i {
    color: teal;
}

.contact {
    height: 150px;
}

.a {
    text-decoration: none;
    color: black;

}